#botaoIrInicio {
  background-color: #542c2bdf;
  color: aliceblue;
  border: 1px solid #261313;
  padding: 1vh 1vw;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

section {
  display: flex;
  justify-content: center;
  text-align: justify;
  align-items: center;
}

#formularioInicio {
  height: fit-content;
  width: 96%;
  margin-left: 2%;
  background-color: antiquewhite;
  margin-top: 1vw;
  flex-direction: column;
  border-radius: 40px 40px 0px 0px;
}
#formularioInicio h1{
  text-decoration: none;
  color: #261313;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#formularioFormulario {
  background-color: #542c2b;
  height: fit-content;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#formularioFim {
  height: fit-content;
  width: 96%;
  margin-left: 2%;
  background-color: antiquewhite;
  margin-bottom: 1vw;
  border-radius: 0px 0px 40px 40px;
}

fieldset {
  margin: 7vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: white;
}
fieldset div {
  margin: 5px;
  width: fit-content;
  padding: 3px;
}
#txtInicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:1vh;
}

.formataCol{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

